@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.profile-img{
    border-radius: 100px;
}

header{
    background-color: rgb(80, 78, 78);
}

.introduction h1{
    font-size: 50px;
}

.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 10px;
    color: rgb(218, 215, 215);
}

.introduction p{
    font-size: large;
}

.button-link {
    padding: 17px 20px;
    background-color: skyblue;
    text-decoration: none;
    font-size: 20px;
    color:black;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.button-link:hover {
    transform: scale(1.1);
    background-color: rgb(82, 186, 228);
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.icons a {
    cursor: pointer;
    font-size: 28px;
    color: white;
}

.about-information-section{
    display: flex;
    margin: 45px;
    background-color: rgb(250, 255, 255);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    transition: transform 0.3s ease;
    flex-direction: row;
    color: rgb(80, 78, 78);
}



.about-information-section:hover {
    transform: scale(1.05);
}

.about-information-section h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.about-box{
    width: 49%;
}

.about-box p{
    width: 75%;
}

.between-line{
    min-height: 60%;
    align-items: center;
    background-color: darkgray;
    width: 2px;
    margin-right: 40px;
}
.info-box{
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.info-labels{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-info a{
    text-decoration: none;
    color:rgb(80, 78, 78);
}

@media (max-width: 768px) {
    .about-information-section {
        flex-direction: column;
        padding: 30px 0px;
        text-align: center; 
    }
    .about-information-section h1{
        text-align: center;
    }
    .about-box {
        width: 100%;
        margin-bottom: 20px; 
    }
    .about-box p{
        text-align: justify;
        padding-left: 50px;
    }
    .between-line {
        display: none; 
    }
    .info-box {
        width: 100%; 
        padding: 10px;
    }
    .info-labels, .info-info {
        width: 100%; 
        text-align: left; 
    }
    .info-box h3, .info-info p {
        margin-bottom: 5px;
    }
}

.heading-box{
    text-align: center;
    margin: 30px 0px;
}

.progress-section{
    margin: 45px;
    background-color: rgb(250, 255, 255);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    transition: transform 0.3s ease;
    flex-direction: row;
    color: rgb(80, 78, 78);
}

.progress-section:hover{
    transform: scale(1.05);
}

.whole-progress{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.progress-bar{
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.progress-bar progress{
    width: 100%;
}
.progress-labels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .whole-progress{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .progress-bar {
        width: 100%; 
    }

    .progress-labels {
        font-size: 16px; 
    }
}
.education-section{
    margin: 45px;
    background-color: rgb(250, 255, 255);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    color: rgb(80, 78, 78);

    transition: transform 0.3s ease;
}

.education-section:hover{
    transform: scale(1.05);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #3498db;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
@media (max-width: 768px) {
    th, td {
        padding: 8px;
        font-size: 12px; 
    }
}

.contact-section{
    margin: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 255, 255);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    transition: transform 0.3s ease;
}

.contact-section:hover{
    transform: scale(1.05);
}

.whole-form{
    width: 70%;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}
.form-group input[type="text"], .form-group input[type="email"], .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.form-group textarea {
    height: 100px;
}

.experience-section{
    margin: 45px;
    background-color: rgb(250, 255, 255);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    color: rgb(80, 78, 78);

    padding: 30px 30px;
    transition: transform 0.3s ease;
}

.experience-section:hover{
    transform: scale(1.05);
}

.single-experience{
    display: flex;
    flex-direction: column;
}

.experience-section ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.work-place{
    color: rgb(173, 173, 173);
    font-size: 13px;
}

.work-time{
    font-size: 15px;
    font-style: italic;
    padding: 5px 0px;
}

footer{
    background-color: rgb(80, 78, 78);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    gap: 10px;
}

.footer-icons{
    font-size: 20px;
    color: white;
    display: flex;
    gap: 10px;
}

.footer-icons a{
    color: white;
}

footer p{
    color: #ccc;
}
